{% extends "base.html" %}

{% block content %}

    <div class="container theme-showcase" role="main">
    
{% for message in messages %}    
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  {{ message }}
</div>
{% endfor %}

{% block content_container %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>VPN</h1>
        <p>我们的目标是一次配置永久使用</p>
		<p>目前是 shadowsocks 协议，cow 自动识别并处理 被Qiang 站点，多节点自动选择最快ss服务器，专用客户端自动同步最新节点。</p>
        <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div> <!-- /container -->
{% endblock %}


{% endblock %}
