<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>{% block title %}title{% endblock %}</title>
{% block head %}title{% endblock %}
<meta name="keywords" content="">
<script src="{{MEDIA_URL}}boxover.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}jquery-1.3.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style.css" media="all">
</head>
<body>
<div id="page" {% block page-attribute %}{% endblock %}>
  <div id="header">
    <div id="headerimg">

	</div>
	<ul id="nav">
	  <li class="page_item page_f_item"><a href="/" title="关于">首页</a></li>
	  <li class="page_item page_f_item"><a href="/accounts/profile/" title="关于">我的账号</a></li>
	  <li class="page_item page_f_item"><a href="#" title="关于">服务器状态</a></li>
	  <li class="page_item page_f_item"><a href="/admin" title="关于">管理</a></li>
	</ul>



  </div>
  <!--/header -->
  
  
  {% block left-sidebar %}
 33333333333
  {% endblock %}
  
  
  {% block content %}
 11111111111111111111111111
  {% endblock %}
  
  
  
  
  {% block right-sidebar %}
  0000000000
  {% endblock %}







<!--/sidebar -->
<i>  </i><div id="footer">
<i>  </i><hr class="clear">
<i>  </i></div><!--/footer -->

</div><!--/page -->

<!--credits start -->
<div id="credits">
  <div class="center">000 2009</div>
</div>
</html>
